nav > a {
    padding: 5px;
    text-decoration: none;
}
.header-row{
    width: 100%;
}
.header-toolbar {
    margin-bottom: 20px;
}

.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
}