<!--Site footer -->
<footer class="site-footer" sttle="    background-image: url(/assets/images/footer.jpg);">
    <div class="border-red"></div>
    <div class="container-image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Acerca de</h6>
                    <p class="text-justify">Aplicacion elaborada con el Framework Angular 8 con el fin de consumir un servicio de Api Rest el cual entrega una pequeña BD la cual cuenta con datos sobre algunos de los pokemones inicales y sus tipos.</p>
                </div>
                <div class="col-xs-6 col-md-4">
                </div>
                <!-- <div class="col-xs-6 col-md-2">
                    <h6 class="title-two">Other sites</h6>
                    <ul class="footer-links">
                        <li><a href="https://www.adultswim.com/podcast/">Podcast</a></li>
                        <li><a href="https://www.adultswim.com/misc/apps/">Apps</a></li>
                        <li><a href="https://www.adultswim.com/streams/">Streams</a></li>
                        <li><a href="https://rickandmortystuff.com/">Merchandise</a></li>
                        <li><a href="https://rickandmortyapi.com/">Rick & Morty API</a></li>
                    </ul>
                </div> -->
                <div class="col-xs-6 col-md-2">
                    <h6 class="title-two">Contacto</h6>
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://github.com/Degcor"><i class="fa fa-github"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/diego-coronado-7a1576191/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
        <!-- <hr> -->
    </div>
    <div class="container-data">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; {{year}} All Rights Reserved by Diego Coronado</p>
                </div>
            </div>
        </div>
    </div>
</footer>